# Be sure to restart your server when you modify this file.

Rails.application.config.session_store :redis_session_store, {
  key: "_<%= @config.app_name %>_session",
  redis: { key_prefix: "<%= @config.app_name %>:", expire_after: 2.minutes }
}
