.DS_Store
.idea
.bundle
log/*
tmp/*
!/log/.keep
!/tmp/.keep
.env

coverage
test/coverage
test/reports
test/screenshots

.sass-cache
public/assets
public/packs
refile_uploads

/node_modules
/yarn-error.log

brakeman-output.tabs
.byebug_history