# Use a 4096 bit RSA key instead of 2048
rsa-key-size = 4096

# this address will receive renewal reminders, IIRC
email = <%= @config.admin_email %>

# Generate certificates for the specified domains
domains = <%= @config.domains.join(',') %>

# turn off the ncurses UI, we want this to be run as a cronjob
text = True

# authenticate by placing a file in the webroot (under .well-known/acme-challenge/) and then letting LE fetch it
webroot-path = /home/deploy/apps/<%= @config.app_name %>/public
