# Capistrano deployment configuration

set :application, '<%= @config.app_name %>'
set :repo_url, '<%= @repository.origin %>'
# append :sync_dirs, 'public/system', 'public/files'
set :log_level, :info
